body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1c1c1c; /* Fundo preto mais escuro */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(205, 127, 50, 0.5); /* Sombra bronze/dourado */
    overflow: hidden;
    width: 360px; /* Ajuste a largura para proporção 19:9 */
    height: 700px; /* Ajuste a altura conforme necessário */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ticket {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-grow: 1; /* Faz o ticket ocupar o espaço disponível */
}

.ticket img {
    max-width: 300%; /* Ajusta a largura máxima */
    max-height: 300%; /* Ajusta a altura máxima */
    transform: rotate(90deg); /* Gire a imagem em 90 graus */
    border-radius: 15px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.form-actions .btn {
    background-color: #cd7f32; /* Cor bronze/dourado */
    border: none;
    color: #1c1c1c;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 48%;
}

.form-actions .btn:first-child {
    margin-right: 4%;
}
